extends layout

block content
  .pure-g-r.main-content.index-page

    include partials/sidebar

    section.pure-u-3-4.home.active
      include content/home

    section.pure-u-3-4.assignments
      include content/assignments

    section.pure-u-3-4.lectures
      include content/lectures

    section.pure-u-3-4.notes.github.language-bash
      include content/notes/github

    section.pure-u-3-4.notes.lecture1.language-javascript
      include content/notes/lecture1

    section.pure-u-3-4.notes.js-basics.language-javascript
      include content/notes/js-basics

    section.pure-u-3-4.notes.js-functions.language-javascript
      include content/notes/js-functions
