:markdown
  ## Assignments

  Assignments are due on __Wednesday at 9am__ unless otherwise indicated.
  Code submissions are to be made using the Github submission system.

  hw0: [Set up Github submission](#github).

  hw1, due __Feb. 5__: [Finger exercises](https://github.com/cis197s14/hw/blob/master/hw1/exercises.js).

  hw2, due __Feb. 19__: jQuery mini-project.

  hw3, due __March 5__: Simple Backbone.js app.

  hw4, due __March 19__: Intermediate Backbone.js app.

  hw5, due __April 2__: Advanced Backbone.js app.


  ## Final Project

  The final project will be an open-ended JavaScript application created with
  client-side framework of the student's choice. It should demonstrate 10-15
  hours of work.

  A ___proposal___ outlining your project idea and plan for execution is due on
  __April 23__. More information (including ideas for final projects) will be
  available in April.
