:markdown
  ## Assignments

  Assignments are due on __Wednesday at 9am__ unless otherwise indicated.
  Code submissions are to be made using the Github submission system.

  [0] __Due Jan. 29__: Set up Github submission.

  [1] __Due Feb. 5__: Finger exercises.

  [2] __Due Feb. 19__: jQuery mini-project.

  [3] __Due March 5__: Simple Backbone.js app.

  [4] __Due March 19__: Intermediate Backbone.js app.

  [5] __Due April 2__: Advanced Backbone.js app.


  ## Final Project

  The final project will be an open-ended JavaScript application created with
  client-side framework of the student's choice. It should demonstrate 10-15
  hours of work.

  A ___proposal___ outlining your project idea and plan for execution is due on
  __April 23__. More information (including ideas for final projects) will be
  available in April.
