:markdown
  ## Lectures

  __Code samples__ from lectures are available in
  [this Github repository](https://github.com/cis197s14/lectures).

table
  thead
    tr
      td Week
      td Lecture
      td Content
      td Reading, Resources

  tbody
    tr
      td 1
      td 1/22
      td.
        <a href="#lecture1">
          JS basics & syntax <br/>
          How to run JS client-side and server-side
        </a>
      td.
        Eloquent JS, Chapter 2 <br/>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript">
          [MDN] A re-introduction to JavaScript
        </a>

    tr
      td 2
      td 1/29
      td.
        <a href="#js-functions">JS functions</a>
      td Eloquent JS, Chapters 3

    tr
      td 3
      td 2/5
      td.
        JS objects & inheritance <br/>
        Document Object Model <br/>
        Browser Events
      td.
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Introduction_to_Object-Oriented_JavaScript">
          [MDN] Introduction to Object-Oriented JavaScript
        </a> <br/>
        <a href="https://developer.mozilla.org/en-US/docs/DOM">
          [MDN] Document Object Model
        </a> <br/>
        Eloquent JS, Chapters 12 & 13

    tr
      td 4
      td 2/12
      td.
        Manipulating the DOM with jQuery <br/>
        Webkit developer tools & debugging
      td Eloquent JS, Chapter 6

    tr
      td 5
      td 2/19
      td.
        Functional Programming with Underscore.js <br/>
        Introduction to client-side MVC
      td.
        Eloquent JS, Chapter 6 <br/>
        <a href="http://dailyjs.com/2012/09/14/functional-programming/">
          [DailyJS] Functional Programming in JS
        </a> <br/>
        DBA: Intro, Fundamentals

    tr
      td 6
      td 2/26
      td.
        A deeper dive into Backbone.js <br/>
        AJAX requests, JSON data <br/>
        RESTful applications, routing
      td DBA: RESTful Persistence, Events, Routers

    tr
      td 7
      td 3/5
      td.
        Introduction to Node.js <br/>
      td Node Beginner Book

    tr
      td –
      td 3/12
      td <em>No class: Spring Break</em>
      td –

    tr
      td 8
      td 3/19
      td.
        Creating an entire web application in JS <br/>
        (Backbone.js + Node.js + MongoDB)
      td DBA: Exercise 2

    tr
      td 9
      td 3/26
      td.
        Best practices for client-side apps <br/>
        Backbone.js extentions (MarionetteJS) <br/>
        Common problems &amp; solutions
      td.
        Eloquent JS Chapter 9 <br/>
        DBA: Backbone Extensions, Common Problems & Solutions

    tr
      td 10
      td 4/2
      td.
        HTML5 features <br/>
        (Canvas, local storage, audio/video, app cache, offline)
      td

    tr
      td 11
      td 4/9
      td.
        Debugging front end performance <br/>
        Build systems &amp; tools
      td

    tr
      td 12
      td 4/16
      td.
        Introduction to other client-side frameworks <br/>
        (AngularJS, Ember, React)
      td

    tr
      td 13
      td 4/23
      td <em>Special Topics</em>: WebSockets
      td.
        <a href="https://developer.mozilla.org/en-US/docs/WebSockets">
          [MDN] WebSockets
        </a> <br/>
        <a href="http://socket.io/">Socket.io library</a>

    tr
      td 14
      td 4/30
      td <em>Special Topics</em>: Compile-to-JS languages
      td.
        <a href="http://coffeescript.org/">CoffeeScript</a> <br/>
        <a href="http://www.typescriptlang.org/">TypeScript</a>

:markdown
  ## Reading

  * [_JavaScript: The Good Parts_](http://www.amazon.com/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742) – Douglas Crockford
  * [_Eloquent JavaScript_](http://eloquentjavascript.net/) – Marijn Haverbeke
  * [_Developing Backbone.js Applications_](http://addyosmani.github.io/backbone-fundamentals/) (DBA) – Addy Osmani
  * [_Mozilla Developer Network JS Articles_](https://developer.mozilla.org/en-US/docs/Web/JavaScript)

