:markdown
  ## Lectures

table
  thead
    tr
      td Week
      td Lecture
      td Content
      td Reading
      td Resources

  tbody
    tr
      td 1
      td 1/22
      td.
        JS basics & syntax <br/>
        How to run JS client-side and server-side
      td Eloquent JS, Chapter 2
      td

    tr
      td 2
      td 1/19
      td.
        JS functions & objects <br/>
        How do web browsers work?
      td Eloquent JS, Chapters 3, 4
      td

    tr
      td 3
      td 2/5
      td.
        Document Object Model <br/>
        Manipulating the DOM with jQuery
      td Eloquent JS, Chapter 12
      td

    tr
      td 4
      td 2/12
      td.
        Webkit developer tools & debugging <br/>
        Functional Programming with Underscore.js
      td Eloquent JS, Chapter 6
      td

    tr
      td 5
      td 2/19
      td.
        Introduction to client-side MVC <br/>
        Backbone.js
      td DBA: Intro, Fundamentals
      td

    tr
      td 6
      td 2/26
      td.
        A deeper dive into Backbone.js <br/>
        AJAX requests, JSON data <br/>
        RESTful applications, routing
      td DBA: RESTful Persistence, Events, Routers
      td

    tr
      td 7
      td 3/5
      td.
        Introduction to Node.js <br/>
      td Node Beginner Book
      td

    tr
      td 8
      td 3/12
      td.
        Creating an entire web application in JS <br/>
        (Backbone.js + Node.js + MongoDB)
      td DBA: Exercise 2
      td

    tr
      td 9
      td 3/19
      td.
        Best practices for client-side apps <br/>
        Backbone.js extentions (MarionetteJS) <br/>
        Common problems & solutions
      td.
        Eloquent JS Chapter 9 <br/>
        DBA: Backbone Extensions, Common Problems & Solutions
      td

    tr
      td 10
      td 3/26
      td.
        HTML5 features <br/>
        (Canvas, local storage, audio/video, app cache, offline)
      td
      td

    tr
      td 11
      td 4/2
      td Debugging front end performance
      td
      td

    tr
      td 12
      td 4/9
      td.
        Introduction to other client-side frameworks <br/>
        (AngularJS, Ember, React)
      td
      td

    tr
      td 13
      td 4/16
      td <em>Special Topics</em>: WebSockets
      td
      td

    tr
      td 14
      td 4/23
      td <em>Special Topics</em>: Compile-to-JS languages
      td
      td

    tr
      td 15
      td 4/30
      td Final project workshop
      td
      td

:markdown
  ## Reading

  [_JavaScript: The Good Parts_](http://www.amazon.com/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742) – Douglas Crockford

  [_Eloquent JavaScript_](http://eloquentjavascript.net/) – Marijn Haverbeke

  [_Developing Backbone.js Applications_](http://addyosmani.github.io/backbone-fundamentals/) (DBA) - Addy Osmani

