:markdown
  Final Project Proposal
  ======================

  Due _Wed., April 9 at 9AM_.

  The final project will be an opportunity to work on any kind of JavaScript
  project of your choosing. These projects will generally fall into one of 3
  categories:

  1. Client-heavy application (like a game or other complex UI).
  2. Full-stack application (that does something interesting with the internet,
     maybe with a 3rd party API)
  3. Node.js application or library

  You are welcome to use any JavaScript framework, including Backbone, its
  extensions, Express.js, and others.

  __Another option__ altogether is to contribute to an open source JavaScript
  framework or library. I'll be posting some examples of projects you could
  hack on.

  __Group work__: you may form a team with _one other student_ for the final
  project; keep in mind that you will still have to demonstrate 10-15 hours of
  work per student.

  -------------------------------

  _More information coming soon!_
